:root{
	--red:rgb(177, 49, 49);
	--transRed:rgba(177, 49, 49, 0.5);
	--white:#F4F5F7;/*しっくりくる白！*/
	--font99:12rem;
	--font98:10.8rem;
	--font97:8.8rem;
	--font96:3.4rem;
	--font95:3.0rem;
	--font94:2.6rem;
	--font11:2.2rem;
	--font10:2.0rem;
	--font9:1.8rem;
	--font8:1.6rem;
	--font7:1.4rem;
	--font6:1.2rem;
	--font5:1.0rem;
	--font4:0.8rem;
	--font3:0.6rem;
	--font2:0.4rem;
	--font1:0.2rem;
}

/*PC*/
html,body{
	font-family: "Klee One", "PT Serif",serif;
	font-size:62.5%;
	margin:0;
	padding:0;
	background-color: var(--white);
	overflow: auto; /* スクロールは可能 */
	scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */
	width:100vw;
	overflow-x: hidden; /* 横スクロール禁止 */
}
body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge用 */
}
/* 右クリック無効化 */
img {
	-webkit-user-drag: none; /* Safari用 */
	user-drag: none; /* その他のブラウザ */
}
#footer{
	width:400px;
	font-size:var(--font8);
	color:var(--red);
	position:relative;
	left:10%;
	/*タブレット*/
	@media screen and (max-width: 959px) {
		font-size: var(--font7);
		/*スマホ*/
		@media screen and (max-width: 480px) {
		font-size: var(--font6);
		}
	}
}

#phrase {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	color:var(--transRed);
	white-space: normal;
	overflow: hidden; /* 表示領域外は隠す */
	font-size:var(--font10);
	/*タブレット*/
	@media screen and (max-width: 959px) {
		font-size: var(--font8);
		/*スマホ*/
		@media screen and (max-width: 480px) {
		font-size: var(--font6);
		}
	}
}


#title{
	max-width: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	white-space: pre-line; /* innerTextの \n を有効にする */
	font-size: var(--font8);
	/*タブレット*/
	@media screen and (max-width: 959px) {
		transform: none;
		text-align: left;
		left:10%;
		font-size: var(--font6);
		/*スマホ*/
		@media screen and (max-width: 480px) {
			font-size: var(--font4);
		}
	}
}
#vertical-title {
	position: fixed; /* スクロールしても固定 */
	top: 50%; /* 画面中央に配置 */
	right: 0;
	transform: translateY(-50%);
	white-space: nowrap; /* テキストの折り返しを防止 */
	font-size: var(--font99); /* フォントサイズは調整 */
	color: var(--red); /* お好みの色を設定 */
	writing-mode: vertical-rl; /* 縦書きの設定 */
	z-index: 1; /* 他の要素の上に表示 */
	transition: transform 1.3s ease;
	&.hidden{
		transition: transform 2.3s ease;
		transform: translateY(-50%) translateX(100vw); /* 画面外へ右に移動 */
	}
	/*タブレット*/
	@media screen and (max-width: 959px) {
		font-size: var(--font98);
		/*スマホ*/
		@media screen and (max-width: 480px) {
		font-size: var(--font97);
		}
	}
}


#slide{
	height:100vh;
	overflow: hidden;
}
#slide-container {
	position: relative;
}
.slide-image {
	/*filter: grayscale(100%); /* 画像を白黒にする */
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height:100vh;
	object-fit: cover;
	opacity: 0;
	transition: opacity 2.0s ease-in-out, transform 2.0s ease-in-out; /* フェードインとズームのアニメーション */
	&.active{
		opacity: 1;
		transform: scale(1.02); /* 表示中の画像をズーム */
	}
}



#gallery{
	height:100%;
	width:100%;
}
.gallery-title{
	color:var(--red);
	display: flex;
	justify-content: center; /* 横方向の中央揃え */
	align-items: center; /* 縦方向の中央揃え */
	padding-top: 10%;
	font-size: var(--font96);
	text-align: center; /* テキストの中央揃え（複数行の場合） */
	/*タブレット*/
	@media screen and (max-width: 959px) {
		font-size: var(--font95);
		/*スマホ*/
		@media screen and (max-width: 480px) {
		font-size: var(--font94);
		}
	}
}
/* ギャラリー用 */
#gallery-container {
	padding:10%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	margin:10px;
	gap:5px;
	justify-items: center;
	div{
		background-color: var(--white);
		z-index:5;
		position: relative;
		width: 100%; /* ギャラリー内で適切なサイズに調整 */
		height: 0;
		padding-bottom: 66.67%; /* 2:3 のアスペクト比（高さが幅の1.5倍） */
		overflow: hidden; /* 画像がはみ出さないように */
		transition: transform 0.3s ease-in-out; /* ホバー時の拡大をスムーズに */
		&:hover{
			transform: scale(1.02);
		}
	}
	img {
		/*filter: grayscale(100%); /* 画像を白黒にする */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover; /* 画像のアスペクト比を保ちつつクロップ */
	}
	/*タブレット*/
	@media screen and (max-width: 959px) {
		grid-template-columns: repeat(5, 1fr);
		/*スマホ*/
		@media screen and (max-width: 480px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.image-figcaption {
	display: none;
}
/* モーダル */
.modal {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--white);
	opacity: 0;
	transform: translateY(-10%);
	backdrop-filter: blur(0px);
	visibility: hidden;
	transition:
		opacity 0.3s ease-out,
		transform 0.3s ease-out;
	/* モーダルを開く */
	&.show {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
	/* フェードアウト */
	&.fade-out {
		opacity: 0;
		transform: translateY(-10%);
	}
	button{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: var(--font11);
		color: var(--red);
		cursor: pointer;
		border: none;
		padding: 10px;
		border-radius: 5px;
		/*「＜」ボタン*/
		&.modal-prev{
			left: 10%;
			/*タブレット*/
			@media screen and (max-width: 959px) {
				font-size: var(--font9);
				left:5%;
				/*スマホ*/
				@media screen and (max-width: 480px) {
					font-size: var(--font7);
					left: 3%;
				}
			}
		}
		/*「＞」ボタン*/
		&.modal-next{
			right: 10%;
			/*タブレット*/
			@media screen and (max-width: 959px) {
				font-size: var(--font9);
				right:5%;
				/*スマホ*/
				@media screen and (max-width: 480px) {
					font-size: var(--font7);
					right: 3%;
				}
			}
		}
	}
}
.modal-content {
	position: absolute; /* 親要素に対して絶対配置 */
	top: 50%; /* 親要素の高さの50%の位置に配置 */
	left: 50%; /* 親要素の幅の50%の位置に配置 */
	transform: translate(-50%, -50%); /* 中央にズレるために50%分だけ移動 */
	padding: 20px;
	background-color: var(--white);
	width: 80%;
	max-width: 60vw;
	/*opacity: 0; /* 初期状態で透明 */
	border:1px solid var(--red);
	/*タブレット*/
	@media screen and (max-width: 959px) {
		border:1px solid var(--red);
		/*スマホ*/
		@media screen and (max-width: 480px) {
			max-width:90%;
			border:0px solid var(--red);
		}
	}
	/*画像*/
	img{
		width: 100%;
	}
	/*「×」ボタン*/
	span{
		position: absolute;
		top: 1px;
		right: 1px;
		color: var(--red);
		font-size: var(--font10);
		font-weight: bold;
		cursor: pointer;
		/*タブレット*/
		@media screen and (max-width: 959px) {
			font-size:var(--font8);
			/*スマホ*/
			@media screen and (max-width: 480px) {
				font-size:var(--font6);
			}
		}
	}
	/*リンク*/
	a{
		&.modal-link{
			font-size:var(--font8);
			display: block; /* ブロック要素にする */
			text-align: center; /* テキストを中央揃え */
			margin: 15px auto; /* 上下に余白を入れて、左右を自動調整で中央配置 */
			width: fit-content; /* リンクの幅をコンテンツに合わせる */
			padding: 10px 20px;
			color: var(--red);
			font-weight: bold;
			text-decoration: none;
			background-image: linear-gradient(var(--red), var(--red));
			background-repeat: no-repeat;
			background-position: bottom right; /* 下線の初期位置 */
			background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
			transition: background-size 0.3s;
			&:hover{
				background-position: bottom left; /* 下線のホバー時位置 */
				background-size: 100% 1px; /* 下線の横幅を100%にする */
			}
			/*タブレット*/
			@media screen and (max-width: 959px) {
				font-size:var(--font6);
				/*スマホ*/
				@media screen and (max-width: 480px) {
					font-size:var(--font6);
				}
			}
		}
	}
	transition: opacity 0.3s ease-in-out;
	/* フェードアウト */
	&.fade-out {
		opacity: 0;
	}
	/* フェードイン */
	&.fade-in {
		opacity: 1;
	}
}


